* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    background-color: black;
    height: 100vh;
    color: white;
  }
  /* home----------------------page */
  .paleblue{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    /* position:absolute; */
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  }
  nav{
    width:100%;
    display:flex;
    position:absolute;
    top:40px;
    left:0px;
    align-items:center;
    justify-content:space-between;
  }
  nav ul li{
    list-style:none;
    display:inline;
    margin-right:80px;
  }
  nav a{
    text-decoration:none;
    font-size:24px;
    color:white;
    border:none;
    /* transition:(5s); */
  }
  nav a:hover{
    border-bottom:2px solid white;
  }
  .content{
    margin-top:200px;
    text-align:center;
  }
  .content h1{
    font-size:130px;
    color:white;
    font-weight:600px;
  }
  .content a{
    text-decoration:none;
    font-size:24px;
    border:2px solid white;
    padding:14px 70px;
    display:inline-block;
    border-radius: 50px;
    margin-top:20px;
    color:white;
    background-color:none;
  }
  .content a:hover{
    background-color:rgb(241, 215, 215);
    color:black;
    border:2px solid black;
    font-weight:bold;
  }
  .background{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    object-fit:cover;
  }
  i{
    height:40px;
    width:50px;
    color:white;
  }
  /* time---------------------line */
  .main-timeline-container{
    background-image:url('stars.jpg');
    background-size:contain;
  }
  .upper_part {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .heading {
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.2;
  }
  .heading:hover {
    border-bottom: 2px solid white;
  }
  /* Styling timeline */
  .time-line {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .container {
    width: 50%;
    position: relative;
    padding: 10px 50px;
    margin-top:-10px;
    /* background-color:blue; */
  }
  .text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-right: 30px;
    border: 1px solid white;
  }
  .text-box .images {
    height: 100px;
    border-radius: 10px;
  }
  .text-box img {
    height: 180px;
  }
  .text-box p {
    font-size: 15px;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding:10px; */
  }
  .left {
    left: 50%;
  }
  .right {
    right: 0;
  }
  .time-line::after{
    content:'';
    position:absolute;
    width:8px;
    height:100%;
    background:#fff;
    top:0;
    left:50%;
    margin-left:-3px;
    z-index:1;
  }
  /* styling checkpoints */
  .checkpoint{
    height:40px;
    width:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:white;
    border-radius:50%;
    position:absolute;
    top:-2px;
    right:-21px;
    z-index:10;
  }
  .left .checkpoint{
      left:-18px;
  }
