* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /* changed the cursor to EARTH */
  cursor: url(earth-cursor.png), auto;
  
}
body {
  background-color: black;
  height: 100vh;
  color: white;
}
.paleblue {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
nav {
  width: 100%;
  display: flex;
  position: absolute;
  top: 40px;
  align-items: center;
  justify-content: end;
}
nav ul li {
  list-style: none;
  display: inline;
  margin-right: 80px;
}
nav a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  border: none;
}
nav a:hover {
  border-bottom: 2px solid white;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 130px;
  color: white;
  font-weight: 600;
}
.content a {
  text-decoration: none;
  font-size: 24px;
  border: 2px solid white;
  padding: 14px 70px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 30px;
  color: white;
  background-color: none;
}
.content a:hover {
  background-color: rgb(241, 215, 215);
  color: black;
  border: 2px solid black;
  font-weight: bold;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.main-timeline-container {
  background-size: cover;
}
.upper_part {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.heading {
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
}
.heading:hover {
  border-bottom: 2px solid white;
}
.time-line {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.container {
  width: 50%;
  position: relative;
  padding: 10px 50px;
  margin-top: -10px;
}
.text-box {
  padding: 5px 0px 5px 0px;
  position: relative;
  border-radius: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-right: 30px;
  border: 2px solid white;
}
.text-box img {
  height: 225px;
  margin-right: 10px;
}
.text-box p {
  font-size: 16px;
}
.text-box a {
  text-decoration: none;
  color: rgb(202, 160, 242);
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.left {
  left: 0;
}
.right {
  right: -53%;
}
.time-line::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
.checkpoint {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -21px;
  z-index: 10;

}
.right .checkpoint {
  left: -55px;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale:1;
  }
}
.left,
.right {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0;


}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    

  }
}
@keyframes blink {

  50% {
    border-color: transparent;
  }

}

.typewriter {
  display: flex;
  justify-content: center;
}
.typewriter h1 {
  font-family: monospace;

  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation: typing 1.7s steps(11, end) forwards, blink 1s step-end infinite;
}

